<div class="p_header">
    <h2>Presupuesto Disponible</h2>
    <p>${{calculoIngresos() - calculoEgresos()}}</p>
    <div class="p_detail ingreso">
        <p>INGRESOS</p>
        <P>{{calculoIngresos()}}</P>
    </div>
    <div class="p_detail egreso">
        <P>EGRESOS</P>
        <P>{{calculoEgresos()}}</P>
        <P>{{calculoPorcentual()}}%</P>
    </div>
</div>
<div class="p_input">
    <div>
    <select name="" id="" (change)="setTipo($event)">
        <option value="ingreso">+</option>
        <option value="egreso">-</option>
    </select>
    <input type="text" #descripcion>
    <input type="number" #monto>
    <button (click) = "newMovimiento(descripcion, monto)">Save</button>
</div>
</div>
<div class="p_child">
    <app-ingresos 
    [ingresos] = "ingresos"
    (delete) = "deleteMovimiento($event)"
    ></app-ingresos>
    <app-egresos [egresos] = "egresos" (delete) = "deleteMovimiento($event)" [totalIngreso] = "calculoIngresos()"></app-egresos>
</div>
