<div class="p_header">
    <h2>Presupuesto Disponible</h2>
    <p>${{totalIngreso - totalEgreso}}</p>
    <div class="p_detail ingreso">
        <p>INGRESOS</p>
        <P>{{totalIngreso}}</P>
    </div>
    <div class="p_detail egreso">
        <P>EGRESOS</P>
        <P>{{totalEgreso}}</P>
        <P>{{porcentualEgreso.toFixed(2)}}%</P>
    </div>
</div>
<div class="p_input">
    <select name="" id="">
        <option value="ingreso">+</option>
        <option value="egreso">-</option>
    </select>
    <input type="text">
    <button>Save</button>
</div>
<div class="p_child">
    <app-ingresos 
    [ingresos] = "ingresos"
    (delete) = "deleteIngreso($event)"
    ></app-ingresos>
    <app-egresos *ngFor="let mov of egresos; let i = index" [moviEg] = "mov" [index] = "i"></app-egresos>
</div>
